<div class="column is-3 mt_3rem">
    <aside class="menu is-hidden-mobile">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href='./mon-compte' id="accueil" class="btnTab {{activeCompte}}">Accueil</a></li>
            <li><a href="./mon-compte/articles" id="listearticles" class="btnTab {{activeArticles}}">Liste des articles</a></li>
            <li><a id="listecommentaires" href="./mon-compte/commentaires" class="btnTab {{activeComments}}">Commentaires a approuver</a></li>
        </ul>
    </aside>
</div>