<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://svgshare.com/i/tqR.svg" alt="Acme">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class=" navbar-item">
        </div>
        <a href="./" class="navbar-item is-active is-size-5 has-text-weight-semibold">
            Accueil
        </a>
        <a href="./posts/" class="navbar-item is-size-5 has-text-weight-semibold">
            Blog
        </a>
        <a href="./mon-compte" class="navbar-item is-size-5 has-text-weight-semibold">
            Mon compte
        </a>
      </div>
    </div>
  </div>
</nav>