<div class="header">
    <a href="./">
        <div>
            Accueil
        </div>
    </a>
    <a href="./posts/">
        <div>
            Blog
        </div>
    </a>
    <a href="./login">
        <div>
            Mon compte
        </div>
    </a>
</div>