<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OCblog - login</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="public/css/neumorphic-login.css">
  </head>

  <body>
    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="login">
          <h1 class="main_title">Je me connecte a mon compte</h1>
          {% for error in errors %}
            <div class="errorMsg">{{error}}</div>
          {% endfor %}
          <form method="POST">
            <input name="login" type="hidden" value="login" />
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" name="email" type="email" placeholder="bonjour@example.com" autocomplete="email" required />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" name="password" type="password" placeholder="mot de passe" autocomplete="current-password" required />
              </div>
            </div>
            <div class="field confirm" style="display:none;">
              <div class="control">
                <input class="input is-medium is-rounded" name="password-confirm" type="password" placeholder="Confirmer le mot de passe" />
              </div>
            </div>
            <br />
            <button class="button btnSubmit is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
              Se connecter
            </button>
          </form>
          <br>
          <nav class="level">
            <div class="level-item forgot has-text-centered">
              <div>
                <a href="#">Mot de passe oublié ?</a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <a data-login="register" class="btnLogin">Créer un compte</a>
              </div>
              <div>
                <a data-login="login" style="display:none;" class="btnLogin">Se connecter</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
  </body>
  <script src="public/js/login.js"></script>

</html>
