{% extends "base.html.twig" %}

   {% block head %}
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>OCBlog - Homepage</title>
   <!-- Bulma Version 0.9.4-->
   <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
   <link rel="stylesheet" type="text/css" href="public/css/showcase.css" />
   <script
     src="https://kit.fontawesome.com/2828f7885a.js"
     integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
     crossorigin="anonymous"
   ></script>
   <link rel="icon" type="image/png" href="favicon.png" />
   {% endblock %}

  {# <body> #}
{% block content %}
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img src="img/preloader.gif" alt="" />
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Scroll Up Button -->

    <form action="#Accueil">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="Accueil">
      <!-- Begin Hero -->
      <section class="hero is-large">
        <!-- Begin Mobile Nav -->
        {# <nav class="navbar" role="navigation" aria-label="main navigation">

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="#" class="navbar-item is-active">
                Home
              </a>
              <a href="./posts" class="navbar-item">
                Blog Posts
              </a>
            </div>

             <div class="navbar-end">
              <div class="navbar-item">
                <a href="#">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fas fa-rss-square"></i>
                </a>
              </div>
            </div> 
          </div>
        </nav> #}
        <nav class="navbar is-fixed-top is-transparent is-hidden-desktop">
          <!-- Begin Burger Menu -->
          <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="mobile-nav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!-- End Burger Menu -->
          <div id="mobile-nav" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <a class="navbar-item" href="#Accueil">
                  Accueil
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#about-me">
                  A propos
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#skills">
                  Conaissances
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#my-work">
                  Portfolio
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#contact">
                  Contact
                </a>
              </div>
            </div>
          </div>
        </nav>
        <!-- End Mobile Nav -->
        <!-- Begin Hero Content-->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="subtitle">Salut c'est</h1>
            <h2 class="title">Loris</h2>
            <h1 class="subtitle profession">Je suis développeur web</h1>
          </div>
        </div>
        <!-- End Hero Content-->
        <!-- Begin Hero Menu -->
        <div class="hero-foot ">
          <div class="hero-foot--wrapper">
            <div class="columns">
              <div class="column is-12 hero-menu-desktop has-text-centered is-fixed-top">
                <ul>
                  <li class="is-active">
                    <a href="#Accueil">Accueil</a>
                  </li>
                  <li>
                    <a href="#about-me">A propos</a>
                  </li>
                  <li>
                    <a href="#skills">Conaissances</a>
                  </li>
                  <li>
                    <a href="#my-work">Portfolio</a>
                  </li>
                  <li>
                    <a href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Menu -->
      </section>
      <!-- End Hero -->
    </div>
    <!-- End Header -->

    <!-- Begin Main Content -->
    <div class="main-content">
      <!-- Begin About Me Section -->
      <div class="section-light about-me" id="about-me">
        <div class="container">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">A propos</h1>
          </div>
          <div class="columns is-multiline">
            <div
              class="column is-6 has-vertically-aligned-content"
              data-aos="fade-right">
              <p class="is-larger">
                &emsp;&emsp;<strong>Bienvenue sur la homepage du site, ici vous trouverez des informations me concernant telles que ma présentation, mon CV ou mon Portfolio!</strong>
              </p>
              <br />
              <p>
                Je m'appelle Loris Barallini, je suis un étudiant en alternance chez OpenClassrooms.
                J'étudie la programmation, principalement orientée sur le développement web.
                Je travaille sur des projets aussi bien en front-end (html/css/js) qu'en backend (php)
              </p>
              <br />
              <div class="is-divider"></div>
              <div class="columns about-links">
                <div class="column">
                  <p class="heading">
                    <strong>Mon Téléphone</strong>
                  </p>
                  <p class="subheading">
                    <a href="tel:+33 6 16 94 04 90">06 16 94 04 90</a>
                  </p>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>Mon Email</strong>
                  </p>
                  <p class="subheading">
                    <a href="mailto:baralliniloris@gmail.com">baralliniloris@gmail.com</a>
                  </p>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>Voir mon portfolio</strong>
                  </p>
                  <p class="subheading">
                    <a href="http://www.meowblock.net/">meowblock.net
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="column is-6 right-image " data-aos="fade-left">
              <img
                class="is-rounded"
                src="https://picsum.photos/id/366/600/375"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- End About Me Content -->
      <div class="section-dark resume">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                Voir mon CV
              </h1>
            </div>
            <div class="column is-10 has-text-centered is-offset-1">
              <h2 class="subtitle">
                Pour en savoir plus sur moi, Téléchargez mon CV!
              </h2>
              <form action="public/images/CVLoris.pdf" target="_blank">
                <button class="button">
                  Télécharger&emsp;<i class="fad fa-download fa-lg"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Begin Skills Content -->
      <div class="section-light skills" id="skills">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">Conaissances</h1>
            </div>
            <div
              class="column is-6"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
              <div title="Langage de programmation orienté web, back-end (objet et procédural)">
                <h1>PHP</h1>
                <progress class="progress" value="90" max="100">30%</progress>
              </div>
              <div title="Langage de programmation orienté applicatif, procédural">
                <h1>C</h1>
                <progress class="progress" value="65" max="100">30%</progress>
              </div>
              <div title="Langage de programmation orienté applicatif, objet">
                <h1>Java</h1>
                <progress class="progress" value="60" max="100">45%</progress>
              </div>
                <div title="Langage de requetage de base de données">
                <h1>SQL</h1>
                <progress class="progress" value="90" max="100">60%</progress>
              </div>
            </div>
            <div
              class="column is-6"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
              <div title="Langage de balisage orienté web, front-end">
                <h1>HTML</h1>
                <progress class="progress" value="95" max="100">30%</progress>
              </div>
                <div title="Langage de style orienté web, front-end">
                <h1>CSS</h1>
                <progress class="progress" value="80" max="100">30%</progress>
              </div>
                <div title="Langage de programmation orienté web, front-end">
                <h1>Javascript</h1>
                <progress class="progress" value="85" max="100">45%</progress>
              </div>
                <div title="langage de gestion de versions">
                <h1>Git</h1>
                <progress class="progress" value="80" max="100">60%</progress>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Skills Content -->
      <!-- Begin Work Content -->
      <div class="section-dark my-work" id="my-work">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-12">
              <h1 class="title has-text-centered section-title">Portfolio</h1>
            </div>
            <div class="column is-3">
              <a href="/film_festival">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('public/images/pj1.png'); background-size:cover;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('public/images/pj2.jpg'); background-size:cover;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('public/images/pj3.png'); background-size:cover;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="https://openclassrooms.com/fr/paths/500/projects/42/assignment">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('public/images/OC.jpg'); background-size:cover;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="https://openclassrooms.com/fr/paths/500/projects/43/assignment">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('public/images/OC.jpg'); background-size:cover;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="https://openclassrooms.com/fr/paths/500/projects/44/assignment">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('public/images/OC.jpg'); background-size:cover;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="https://openclassrooms.com/fr/paths/500/projects/51/assignment">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('public/images/OC.jpg'); background-size:cover;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('public/images/OC.jpg'); background-size:cover;"
                ></figure>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Work Content -->
      <!-- Begin Contact Content -->
      <div class="section-light contact" id="contact">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in-up"
            data-aos-easing="linear"
          >
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                Contactez-moi
              </h1>
            </div>
            <div class="column is-8 is-offset-2">
              <form
                action=""
                method="POST"
              >
              <input type="hidden" name="nom_form" value="contact"/>
                <div class="field">
                  <label class="label">Nom</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="text"
                      placeholder="Jean Dupont"
                      name="name"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="email"
                      placeholder="Bonjour@exemple.com"
                      name="email"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      placeholder="Message"
                      name="message"
                    ></textarea>
                  </div>
                </div>
                <div class="field">
                  <div class="control ">
                    <button class="button submit-button">
                      Envoyer&nbsp;&nbsp;
                      <i class="fas fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Contact Content -->
    </div>
    <!-- End Main Content -->
    {% endblock %}

    {% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="public/js/showcase.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  {% endblock %}
